<tool-bar></tool-bar>
<app-header></app-header>

<br>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">{{playerInfos[0]?.player?.FirstName}} {{playerInfos[0]?.player?.LastName}} | #{{playerInfos[0]?.player?.JerseyNumber}}</div>
    <div class="panel-body">
      <div class="player-infos">
        <table>
          <thead>
            <tr>
              <th *ngFor="let statLabel of playerInfosStatsLabels"> {{statLabel}} </th>
            </tr>
          </thead>
          <tbody *ngFor="let playerInfos of playerInfos">
            <tr>
              <td> {{playerInfos?.year - 1}} -  {{playerInfos?.year}}</td>
              <td> {{playerInfos?.team?.Abbreviation}} </td>
              <td> {{playerInfos?.stats?.gamesPlayed}} </td>
              <td> {{playerInfos?.stats?.stats?.goals}} </td>
              <td> {{playerInfos?.stats?.stats?.assists}} </td>
              <td> {{playerInfos?.stats?.stats?.points}} </td>
              <td> {{playerInfos?.stats?.stats?.plusMinus}} </td>
              <td> {{playerInfos?.stats?.stats?.penalityMin}} </td>
              <td> {{playerInfos?.stats?.stats?.powerplayGoals}} </td>
              <td> {{playerInfos?.stats?.stats?.shorthandedGoals}} </td>
              <td> {{playerInfos?.stats?.stats?.shorthandedPoints}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
