<div>
  <div class="player-list">
    <table *ngIf="playersIndividualStats.length > 0">
      <thead>
        <tr>
          <!-- TODO: Use *ngIf to encapsulate infos in an array or object -->
          <th>Name</th>
          <th>GP</th>
          <th>{{currentStatTag}}</th>
          <th>Selected by</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let playerStats of playersIndividualStats">
          <td class="player-link"><a (click)="onPlayerSelect(playerStats)">{{playerStats?.player?.FirstName}} {{playerStats?.player?.LastName}}</a></td>
          <td>{{playerStats?.stats?.gamesPlayed}}</td>
          <td>{{playerStats?.stats?.stats[currentStatString]}}</td>
          <td>
            <div class="dropdown">
              <button class="dropbtn">
                <span class="caret"></span>
              </button>
              <div class="dropdown-menu">
                <div class="dropdown-row">
                  <a class="dropdown-line"(click)="playerDraftBy(currentUser.username, playerStats?.player?.ID)" >{{currentUser.firstName}} {{currentUser.lastName}}</a>
                </div>
                <div class="dropdown-row" *ngFor="let member of members">
                  <a class="dropdown-line"(click)="playerDraftBy(member.name, playerStats?.player?.ID)" >{{member.username}}</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
