<form name="form" (ngSubmit)="opponentForm.form.valid && onSubmit(opponentForm)" #opponentForm="ngForm" novalidate>
  <div class="form-group-inputs" [ngClass]="{ 'has-error': opponentForm.submitted && !opponent.valid }">
    <input id="search-box" (keyup)="search(opponent.value)" type="text" class="form-control" name="opponent" placeholder="Enter name..."
      [(ngModel)]="model.name" #opponent="ngModel" required autocomplete="off" />
    <div *ngIf="opponentForm.submitted && !opponent.valid" class="help-block">Name is required</div>
    <div class="search-result" *ngFor="let user of users | async" (click)="addOpponent(user)">
      <p class="opponent-name"> {{user.name}} ({{user.username}}) </p>
    </div>
    <div class="search-result" *ngIf="(users | async)?.length == 0">
      <p class="opponent-name"> Cannot find any user </p>
    </div>
  </div>
</form>
