.form-group-inputs {
  display: inline-block;
}

input[type="text"] {
  display: inline-block;
  width: 20em;
  height: 2.15em;
}

.help-block {
  margin-left: 7.4em;
}

.search-result {
  position: relative; right: 0; padding: 0; overflow: hidden;
  height: 30px;
  list-style: none;
  color: rgb(105, 105, 105);
  border: 1px solid #ccc;
  border-top: none;
  /*so things don't jump around*/
  background: #fff;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
}

.search-result:hover {
  color: #eee;
  background-color: #EF9A9A;
}

.opponent-name {
  margin-top: 2%;
  margin-left: 4%;
}

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 }

 li {
  margin: 0;
  padding: 0;
 }

 a {
  color: black;
  text-decoration: none; /* no underline */
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
letter-spacing: 1px;
}
