<form name="form" (ngSubmit)="opponentForm.form.valid && onSubmit(opponentForm)" #opponentForm="ngForm" novalidate>
  <div class="form-group-inputs" [ngClass]="{ 'has-error': opponentForm.submitted && !opponent.valid }">
    <label for="fullName">Full Name: </label>
    <input id="search-box" (keyup)="search(opponent.value)" type="text" class="form-control" name="opponent" placeholder="Enter name..." [(ngModel)]="model.opponent" #opponent="ngModel" required />
    <div *ngIf="opponentForm.submitted && !opponent.valid" class="help-block">Name is required</div>
    <div *ngFor="let user of users | async"
         (click)="addOpponent(user)" class="search-result" >
         {{user.name}} ({{user.username}})
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-add">Add</button>
    <button class="btn btn-primary btn-cancel" (click)="cancel()">Cancel</button>
  </div>
</form>
