<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
      <a class="navbar-brand page-scroll" [routerLink]="['/pools']">Nhl Pool Helper</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a class="page-scroll" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
        </li>
        <li class="">
          <a class="page-scroll" [routerLink]="['/pools']" [routerLinkActive]="['active']">Pools</a>
        </li>
        <li class="">
          <a class="page-scroll" [routerLink]="['/drafted']" [routerLinkActive]="['active']">Drafted</a>
        </li>
        <li class="">
          <a class="page-scroll" [routerLink]="['/login']" [routerLinkActive]="['active']">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
