header{
	background-color:#3b5998;
	text-align:center;
}

.page-header{
	background-color:#3b5998;
	margin: auto;
	padding:5px;
  border-bottom: none;
}

.appTitle{
	color: white;
  text-transform: uppercase;
}
